
<!-- footer.html -->
<footer class="site-footer">
    <nav>
      <ul>
        <li><a href="mailto:contacto@criptoarica.org"><i class="fas fa-envelope"></i> contacto@criptoarica.org</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSc3c-ooKBdWpCcqo1DoHuJ5spA972DHBBlZO5yDn3KlEB9pVA/viewform?usp=dialog" target="_blank"  rel="noopener noreferrer"><i class="fas fa-file-alt"></i> Formulario de contacto</a></li>
        <li><a href="https://t.me/CriptoArica" target="_blank"><i class="fab fa-telegram"></i> Telegram</a></li>
        <li><a href="https://twitter.com/criptoarica" target="_blank"><i class="fab fa-x-twitter"></i> Twitter</a></li>
        <li><a href="https://github.com/criptoarica" target="_blank"><i class="fab fa-github"></i> Github</a></li>
      </ul>
    </nav>
    <p class="credito">Hecho con ❤️ por la comunidad bitcoiner de Arica</p>
  </footer>
  