$primary-color: #0066ff;
$padding: 1rem;

$bg: #0d1117;
$text-color: #c9d1d9;
$accent: #58a6ff;
$card-bg: #161b22;
$hover-bg: #21262d;
$max-width: 1200px;
$hero-content-width: 800px;
$section-width: 1000px;
$section-bg: #161b22;
$btn-hover: #0055cc;
$btn-color: #0066ff;
$h2-size-highlight: 2.4rem;


// scroll Variables (opcional)
$fade-duration: 0.6s;
$fade-distance: 30px;
$fade-easing: ease-out;


$wide-L: 95%;
$wide-M: 90%;
$wide-S: 90%;